html,body {
    margin:-1;
    }

html {
    /* background-color: red; */
}

body {
    /* background-color: blue; */
}


.navbar {
    background-color: #BD2723;
    padding-left: 8em;
    /* #B9323B;    */
    /* #D32914; */
    /* #BC3908; */
}

h4.card-title a {
    color: #408647;

    /* #598A58; */
    /* #2A5345; */
    /* #05BA8E; --too light */
    /* #325A40; */
}

h5 a#author {
    text-decoration: none;
    color: #BD2723;
}
.container {
    padding: 2em;
}

.global-container {
    min-height: 75vh;
    width: 50%;
    margin: auto;
}

.btn-view {
    background-color: #408647;
    color: #fff;
}

.btn-view:hover {
    background-color: #85b10d;
    color: #fff;
}


/* footer */
footer.bg-dark.footer-container {
    position: absolute; 
    width: 100%;
    bottom: -1;
    /* margin-top: 2em; */
}


/* detail card */
.bg-codeblocks {
    margin-top: 4%;
    position: relative;
    height: auto;
}

.main-box-codeblocks    {
    background-color: #FAFAFA;
    border-radius: 20px;
    padding: 3em 2em;
    width:90%;
    height: auto;
    position: relative;
    display: block;
    box-shadow: 0 0px 20px 2px rgba(0,0,0,0.5);
    margin: 1em auto;

}

li.nav-item a.nav-link {
    color: #495057;
}

li.nav-item a.nav-link.active {
    /* background-color: red; */
    color: #408647;
    /* #0d6efd; */
}

.tab-content {
    background-color: #fff;
    padding: 2em;
}

.tab-pane.fade,
.tab-pane.fade.show.active {

}

.tab-pane.fade#ingredients,
.tab-pane.fade#directions {
    
    font-weight: 500;
}

.fas.fa-edit {
    color: #408647;
    font-size: 28px;
}

.fas.fa-trash {
    color: #BD2723;
    font-size: 28px;
}